.move-box {
    position: fixed;
    bottom: 80px;
    right: 50px;
    width: 80px;
    height: 80px;
    border-radius: 55px;
    box-shadow: 0 0 15px rgb(43, 58, 73);
    z-index: 999999;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    user-select: none;

    .content-icon {
        width: 100%;
        height: 100%;
    }
}
.move-box-mask{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 550px;
    background: rgba(0, 0, 0, 0.6);
}
/* .move-box-window, */
.move-box-1 {
    position: fixed;
    /* position: absolute; */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    /* width: 375px; */
    border-radius: 16px;
    box-shadow: 0 0 10px rgb(43, 58, 73);
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    background: #1C1C1E;
    user-select: none;
    --in-theme-color: var(--in-theme-color);

    /*覆盖掉注入网站的css*/
    box-sizing: initial !important;
    line-height: 1 !important;
    /* display: block !important; */
    margin-bottom: 0 !important;

    

    .cancel-btn {
        position: absolute;
        display: inline-block;
        font-size: 15px;
    }

    .title {
        position: absolute;
        display: inline-block;
        font-size: 15px;
        /* left: 144px; */
        left: 210px;
    }

    .save-btn {
        position: absolute;
        display: inline-block;
        font-size: 15px;
        /* left: 326px; */
        right: 20px;
    }
}
.move-box-window{
    z-index: 100;
    width: 550px;
    height: 450px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.window-header {
    position: relative;
    /* width: 100%; */
    height: 44px;
    top: 6px;
    display: border-box;

    padding-top: 12px;
    padding-left: 20px;
    padding-right: 20px;

}

.window-body {
    overflow-y: auto;
}

.p-in-input {
    margin-top: 4px;
}

.show-active {
    opacity: 1;
}

.show {
    opacity: 0;
    transition: opacity 0.5s;
}


.in-input {
    margin: 16px 16px 16px 16px;
    position: relative;


    .in-input-label {
        display: flex;
        font-size: 15px;
    }
    .tooltip-wrapper{
        position: relative;
    }
    .tooltip{
        position: absolute;
        background: #fff;
        border-radius: 4px;
        color: #000;
        font-size: 12px;
        text-align: center;
        line-height: ;
        width: 190px;
        padding: 4px;
        top: -30px;
        left: 0;
    }
    .in-input-text-div {
        margin-top: 8px;
        position: relative;

        .in-input-text {
            box-sizing: border-box;
            border: 0;
            outline: 0;
            border-radius: 8px;
            background-color: #3A3A3C;

            width: 100%;
            opacity: 0.5;
            color: #FFFFFF;

            padding: 0 60px 0 12px;
            caret-color: var(--in-theme-color);

        }

        .in-input-text:focus {
            outline: solid 2px var(--in-theme-color);
        }

        .in-input-textarea {
            box-sizing: border-box;
            border: 0;
            outline: 0;
            border-radius: 8px;
            background-color: #3A3A3C;

            width: 100%;
            opacity: 0.5;
            color: #FFFFFF;

            padding: 13px 60px 0 12px;
            caret-color: var(--in-theme-color);

            resize: none;
            overflow-y: hidden;
        }

        .in-input-textarea:focus {
            outline: solid 2px var(--in-theme-color);
        }

        .in-input-text-length-prompt {
            font-size: 12px;
            color: #EBEBF5;
            opacity: 0.3;
            position: absolute;
            left: 89%;
            top: 35%;
        }


        .in-input-textarea-length-prompt {
            font-size: 12px;
            color: #EBEBF5;
            opacity: 0.3;
            position: absolute;
            left: 84%;
            top: 88%;
        }
    }
}


.fade-leave,
.fade-enter-to {
    opacity: 1;
}

.fade-leave-active,
.fade-enter-active {
    transition: all 1.5s;
}

.fade-leave-to,
.fade-enter {
    opacity: 0;
}



.abs-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.abs-top{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.no-border{
    border: none !important;
}
.margin-top-16{
    margin-top: 16px;
}
.margin-top-40{
    margin-top: 40px;
}